[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
jupyter-core = ">=4.11.2"
jupyter = "*"
pymongo = "*"
janome = "*"
scikit-learn = "*"
gensim = "*"
pandas = "*"
parso = "*"
matplotlib = "*"
pillow = "~=9.0.1"

[requires]
python_version = "3.8"
